* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
}
.container h1 {
  position: fixed;
  top: 0;
  color: #fff;
  background-color: darkslategray;
  width: 100%;
  text-align: center;
  z-index: 55;
}

#textBox {
  padding: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: darkslategray;
  width: 100vw;
  margin: 0 auto;
}

#textBox input {
  padding: 10px;
  width: 600px;
}

#textBox button {
  background-color: aqua;
  margin-left: 15px;
  padding: 10px;
}

#add-chats {
  position: relative;
  top: 40px;
  left: 400px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logout {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
}

#groups {
  position: fixed;
  left: 0;
  top: 40px;
  border: 5px solid rebeccapurple;
  width: 300px;
  height: 70%;
}

.users {
  position: fixed;
  right: 0;
  top: 40px;
  border: 5px solid rebeccapurple;
  width: 300px;
  height: 70%;
}

.users h2,
#groups h2 {
  margin-top: 10px;
  text-align: center;
}

.users h3 {
  color: green;
  margin: 20px;
  font-size: 20px;
}

#groupName,
#createBtn {
  visibility: hidden;
}

#createAGroup {
  background-color: green;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addGroup {
  padding: 10px;
}

/* #availableUsers input {
  display: none;
} */

#groupButtons {
  background-color: yellow;
  padding: 5px;
  color: blue;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

#groupButtons:focus {
  background-color: red;
}

#removeUsers {
  width: 250px;
  margin: 20px;
  height: 300px;
}

#removeUsers option {
  padding: 10px;
  font-size: 20px;
}
#removeUsersBtn {
  padding: 10px;
  background-color: red;
  color: #fff;
}
